body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Prompt', sans-serif;

  color: #fff;
  background-color: rgb(202, 194, 194);
}